h3{
    color: orange;
 }
 title{
     color: lawngreen
 }
 h3 {
     color: purple
 }
 div {
     display: inline-block
     color blue;
    }
body {background-color: rgb(25, 216, 152);}
a{font-size: large;}